<div class="symptom-container">


<div class="search__form">
    <h3 class="search-text">Please select the appropriate symptoms how you are feeling:</h3>
<form #symptomForm="ngForm"  >
    <div fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="52px" fxLayoutGap.lt-md="20px">
      <div fxFlex="100%" fxFlex.lt-md="100%">
        <div fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="33px" fxLayoutGap.lt-md="20px">

          <div fxFlex="100%">
            <mat-form-field class="background-white" appearance="fill" [hideRequiredMarker]="true">
              <mat-label>Symptoms</mat-label>
              <mat-select name="symptom1" #symptom1 ngModel required >
                <mat-option *ngFor="let item of symptomsList" value="{{item.name}}">{{item.name}}
                </mat-option>
              </mat-select>
              <!-- <mat-error><img src="{{rootPath}}assets/icons/warning.svg"> <span>Required field</span>
              </mat-error> -->
            </mat-form-field>
          </div>

          <div fxFlex="100%" *ngIf="count>1">
            <mat-form-field class="background-white" appearance="fill" [hideRequiredMarker]="true">
              <mat-label>Symptoms</mat-label>
              <mat-select  name="symptom12" #symptom2 ngModel required >
                <mat-option *ngFor="let item of symptomsList" value="{{item.name}}">{{item.name}}
                </mat-option>
              </mat-select>
              <!-- <mat-error><img src="{{rootPath}}assets/icons/warning.svg"> <span>Required field</span>
              </mat-error> -->
            </mat-form-field>
          </div>

          <div fxFlex="100%" *ngIf="count>2">
            <mat-form-field class="background-white" appearance="fill" [hideRequiredMarker]="true">
              <mat-label>Symptoms</mat-label>
              <mat-select  name="symptom3" #symptom3 ngModel required >
                <mat-option *ngFor="let item of symptomsList" value="{{item.name}}">{{item.name}}
                </mat-option>
              </mat-select>
              <!-- <mat-error><img src="{{rootPath}}assets/icons/warning.svg"> <span>Required field</span>
              </mat-error> -->
            </mat-form-field>
          </div>

          <div fxFlex="100%" *ngIf="count>3">
            <mat-form-field class="background-white" appearance="fill" [hideRequiredMarker]="true">
              <mat-label>Symptoms</mat-label>
              <mat-select name="symptom4" #businessArea ngModel required >
                <mat-option *ngFor="let item of symptomsList" value="{{item.name}}">{{item.name}}
                </mat-option>
              </mat-select>
              <!-- <mat-error><img src="{{rootPath}}assets/icons/warning.svg"> <span>Required field</span>
              </mat-error> -->
            </mat-form-field>
          </div>
          
        </div>
        
      </div>
      

      <div fxFlex.lt-md="100%">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="33px" fxLayoutGap.lt-md="20px">

            <div>
                <a  class="add-more" (click) = "addMore(symptomForm)">
                    Add More
                </a> 
            </div>
    
            <div>
                <button mat-button class="getResults__button" (click)="getResult(symptomForm)" [disabled]="symptomForm.invalid || symptomForm.pristine">
                    <span>Submit</span>
                </button> 
            </div>


        </div>
       
      </div>
    </div>
  </form>
  </div>
  </div>