.causes--container {
    margin-top: 50px;
}

.possible-disease {
    font-weight: bold;
    text-decoration: underline;
}

h3{
    font-weight: normal;
}
.caused-by, .prevention{
    font-weight: normal;
    margin: 10px 0;

}

.cause{
    text-decoration: none;
    font-weight: normal;
    margin: 10px 0;
}

section {
    margin-top: 30px;
}
.note{
    text-decoration: underline;
    font-weight: bold;
    
}

.know__more-container {
    margin-top: 30px;
}

.know-more {
    background-color: #007bff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.user-submit-btn {
    margin-top: 20px;
    background-color:#f60;
    
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  