<div class="map__container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap.lt-md="20px">
        <div fxFlex="50%">
            <div fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap.lt-md="20px">
                <div fxFlex="20%"></div>

                <div fxFlex="60%">
                    <google-map ></google-map>
                </div>

                <div fxFlex="20%"></div>
            </div>
        </div>
       
    
        <div fxFlex="50%">
            <div fxLayout="column" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap.lt-md="20px"></div>
            <div fxFlex="25%"></div>
    
            <div fxFlex="50%">
                <mat-card class="example-card">
                    <mat-card-title-group>
                      <mat-card-title>Dr. Milind Kulkarni</mat-card-title>
                      <mat-card-subtitle>
                        <pre>MBBS, Diploma in TDD</pre>
                        <button mat-raised-button color="primary" (click)="confirmAppt('milind')" 
                        class="user-submit-btn">Book an appointment</button>
                      </mat-card-subtitle>
                      <img mat-card-sm-image src="../../assets/drMilind.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                        <address>Kasturba Housing society, Gurukrupa complex office No 7 Vishrantwadi Airport road., Landmark: Above Bhagini Nivedita Sahakari Bank, Pune</address>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="example-card">
                    <mat-card-title-group>
                      <mat-card-title>Dr. Jyoti Gulati</mat-card-title>
                      
                      <mat-card-subtitle>
                        <pre>MBBS, MD - General Medicine</pre>
                        <button mat-raised-button color="primary" (click)="confirmAppt('jyoti')" 
                            class="user-submit-btn">Book an appointment</button>
                      </mat-card-subtitle>
                      <img mat-card-sm-image src="../../assets/drJyoti.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                        <address>204, Supreme Centre, ITI Road, Landmark: Above PNG Jwellers, Pune</address>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="example-card">
                    <mat-card-title-group>
                      <mat-card-title>Dr. Vinod Midha</mat-card-title>
                      <mat-card-subtitle>
                        <pre>MBBS, General Physician</pre>
                        <button mat-raised-button color="primary" (click)="confirmAppt('vinod')" 
                        class="user-submit-btn">Book an appointment</button>
                      </mat-card-subtitle>
                      <img mat-card-sm-image src="../../assets/drVinod.jpg" >
                    </mat-card-title-group>
                    <mat-card-content>
                        <address>109, Town Square Shopping Center, Landmark: Yashica Heart Care Centre & Above Dorabjee, Pune</address>
                    </mat-card-content>
                  </mat-card>
            </div>
    
            <div fxFlex="25%"></div>
        </div>
    
    </div>
</div>



