@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "monospace"; 
    background-color: #fff; 
    background-image: url(assets/medi_1.jpg);
    background-repeat: repeat;
    
       
}

.content-bg {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}


